<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title><%= title %></title>
</head>
<body>
    <%- include('partials/nav') %>
    <main>
        <h1><%= title %></h1>
        <p>
            Hello, <span class="highlight more"><%= user?.nickname ?? "World" %></span>! Welcome to <%= title %>.
            <% if(!isAuthenticated) {%>Please login to continue <% } %>
        </p>

        <% if(isAuthenticated) { %>
        <img src="<%= user.picture %>" alt="">
        <pre><%= JSON.stringify(user, null, 2) %></pre>
        <% } %>
    </main>
</body>
</html>